**/.classpath
**/.env
**/.git
**/.project
**/.settings
**/.toolstarget
**/.vs
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/node_modules
**/npm-debug.log
**/obj
LICENSE
README.md